.ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.amenity {
  display: flex;
  gap: 6px;
  align-items: center;

  svg {
    width: 1em;
    height: 1em;
  }
}
