@import 'src/styles/mediaQueries';

.root {
  display: flex;
  gap: 8px;
  border: 2.5px solid rgb(229, 229, 229);
  border-radius: 24px;
  max-width: 1084px;
  width: 100%;

  .image {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 100%;
    justify-content: space-between;

    .info {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .highlightsAndAmenities {
        display: flex;
        gap: 16px;
        justify-content: space-between;

        .amenities {
          display: none;

          @include small {
            display: block;
          }
        }
      }
    }

    .prices {
      display: flex;
      flex-direction: column;

      .seeTrip {
        margin-top: auto;
      }
    }
  }
}
