@import 'src/styles/mediaQueries';

.root {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: black;
  height: 68px;
  justify-content: center;

  .inputContainer {
    border-radius: 100px;
    background-color: white;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 16px;

    svg {
      width: 20px;
      height: 20px;
    }

    input {
      height: 40px;
      width: fit-content;
      border: none;

      @include small {
        flex-direction: row;
        width: 180px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
