.root {
  width: 100%;
  display: flex;
  flex-direction: column;

  .products {
    padding: 24px;
  }

  .searchBar {
    margin: 0 auto;
  }

  .tours {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
}
